<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img class="header-icon" src="{{ site.baseurl }}/img/fist.png">
                    </span>
                    <h4 class="service-heading">Areas</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img class="header-icon" src="{{ site.baseurl }}/img/film.png">
                    </span>
                    <h4 class="service-heading">Audiovisual</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img class="header-icon" src="{{ site.baseurl }}/img/study.png">
                    </span>
                    <h4 class="service-heading">Research and Analysis</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img class="header-icon" src="{{ site.baseurl }}/img/calendar.png">
                    </span>
                    <h4 class="service-heading">Events</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>